
@{
    Layout = null;
}

<!DOCTYPE html>

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
    <title>MVC Proje Otel Rezervasyon </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Error Page Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
    <link href="../../tema/Rezervasyon/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="../../tema/Rezervasyon/css/bootstrap.css" rel='stylesheet' type='text/css' media="all">
    <script src="../../tema/Rezervasyon/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../tema/Rezervasyon/js/move-top.js"></script>
    <script type="text/javascript" src="../../tema/Rezervasyon/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
</head>
<body>
    <div class="header">
        <h1>MVC Proje Otel Rezervasyon Sayfası</h1>
    </div>

    <div class="banner-top">
        <h2>Hemen Rezervasyonunu Yap!</h2>
        <form method="post">
            <div class="banner-bottom">
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Giriş Tarihi</p>
                    </div>
                    <div class="bnr-right">
                        
                        <input   type="date" name="GirisTarih" class="form-control" required="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Çıkış Tarihi</p>
                    </div>
                    <div class="bnr-right">
                        <input  type="date" name="CikisTarih" value="" class="form-control" required="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Kişi Sayısı</p>
                    </div>
                    <div class="bnr-right">
                        <input type="number" value="0" name="KisiSayisi" class="form-control"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Ad Soyad</p>
                    </div>
                    <div class="bnr-right">
                        <input type="text" name="RezervasyonAdSoyad" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Telefon</p>
                    </div>
                    <div class="bnr-right">
                        <input type="text" name="Telefon" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Ota Türü</p>
                    </div>
                    <div class="bnr-right">
                        <select>
                            <option value="volvo">Bir tür seçin</option>
                            <option value="saab">Tek Kişilik</option>
                            <option value="opel">Çift Kişilik</option>
                            <option value="audi">Üç Kişilik</option>
                            <option value="audi">Dört Kişilik</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-one">
                    <div class="bnr-left">
                        <p>Notlar</p>
                    </div>
                    <div class="bnr-right">
                        <textarea rows="4" cols="40" name="Aciklama" class="form-control" ></textarea>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="bnr-btn">
                    <input type="submit" value="Rezervasyon Yap">
                </div>
            </div>
        </form>
       
    </div>
    <div class="footer">
        <p> © Otel Rezervasyon Projesi  | Tüm Hakları Saklıdır  | Design by <a href="http://w3layouts.com" target="_blank">W3layouts</a></p>
    </div>
</body>
</html>