<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1">
                    <h6 class="footer-title-29">İletişime Geç</h6>
                    <ul>
                        <li>
                            <p>
                                <span class="fa fa-map-marker"></span> MVC Proje Oteli, #32841 block, #221DRS Rental & Paid rooms
                                business, TR.
                            </p>
                        </li>
                        <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(90)-532-000-0000</a></li>
                        <li>
                            <a href="mailto:hotels@mail.com" class="mail">
                                <span class="fa fa-envelope-open-o"></span>
                                hotels@mail.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-sm-0 mt-5">

                    <ul>
                        <h6 class="footer-title-29">Site Haritası</h6>
                        <li><a href="#">Anasayfa</a></li>
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Hizmetlerimiz</a></li>
                        <li><a href="#">Bize Ulaşın</a></li>
                        <li><a href="#">Rezervasyon Yap</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-5 footer-list-29 footer-3 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">İstatistikler</h6>
                    <div class="footer-post mb-4">
                        <a href="#url">Toplam Boş Oda</a>
                        <p class="small"><span class="fa fa-clock-o"></span>34</p>
                    </div>
                    <div class="footer-post">
                        <a href="#url">Dolu Oda Sayısı</a>
                        <p class="small"><span class="fa fa-clock-o"></span>21</p>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Mail Bülteni </h6>
                    <p>
                        Mail Adresinizi Sistemimize kaydederek indirimli fiyatlarından ve paket avantajlarımızdan haberdar olabilirsiniz 
                    </p>

                    <form action="#" class="subscribe" method="post">
                        <input type="email" name="email" placeholder="Mail Adresinizi Giriniz" required="">
                        <button><span class="fa fa-envelope-o"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
