
<div class="testimonials py-5">
    <div class="container text-center py-lg-3">
        <div class="heading text-center mx-auto">
            <h3 class="title-big text-center">Misafirlerimiz bizler için ne dedi ?</h3>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="owl-testimonial owl-carousel owl-theme">
                    <div class="item">
                        <div class="slider-info mt-lg-4 mt-3">
                            <div class="img-circle">
                                <img src="../../tema/main/assets/images/team1.jpg" class="img-fluid rounded" alt="client image">
                            </div>
                            <div class="message">
                                Şirketimizin kurumsal etkinliği için MVC Proje Oteli'ni seçtik'. Çalışanların güleryüzlü ve kaliteli hizmeti
                                tesislerin modern yönetimi ve etkinlik planlamasındaki profesyönel yaklaşımları büyüleyici !..
                            </div>
                            <div class="name">- Ahmet Serdengeçti</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-info mt-lg-4 mt-3">
                            <div class="img-circle">
                                <img src="../../tema/main/assets/images/team2.jpg" class="img-fluid rounded" alt="client image">
                            </div>
                            <div class="message">
                                Güneş sahil , doğa manzarası eşliğinde güzel bir tatil sunan MVC Proje Otel'i ve personeline teşekkür ederim.
                                Spa ve Sauna'sını özellikle tavsiye ederim. 
                            </div>
                            <div class="name">- Kerem Döngel</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-info mt-lg-4 mt-3">
                            <div class="img-circle">
                                <img src="../../tema/main/assets/images/team3.jpg" class="img-fluid rounded" alt="client image">
                            </div>
                            <div class="message">
                                Yoğun iş seyehati programında evinizi aratmayan hizmetiyle MVC Proje Oteli'ni tercih ettiğim için şanslı hissediyorum .
                                Toplantılarda profesyonel hizmetle karşılanırken , mola ve konaklama hizmetlerinde kaliteli bir hizmet sağlıyor .
                            </div>
                            <div class="name">- Begüm Özgü</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-info mt-lg-4 mt-3">
                            <div class="img-circle">
                                <img src="../../tema/main/assets/images/team4.jpg" class="img-fluid rounded" alt="client image">
                            </div>
                            <div class="message">
                                Tatil ve İş seyahatleriniz için mükemmel seçenekler sunan MVC Proje Oteli tek kelimeyle muhteşem.

                            </div>
                            <div class="name">- Ceyda Sarı</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>