@using OtelMVCProje.Models.Entity
@model List<TblRezervasyon>
@{
    ViewBag.Title = "Rezervasyonlarim";
    Layout = "~/Views/Shared/_MisafirLayout.cshtml";
}

<h2>Rezervasyonlarim</h2>
<br/>

<table class="table table-bordered">
    <tr>
        <th>Misafir Ad Soyad</th>
        <th>Giriş Tarihi</th>
        <th>Çıkış Tarihi</th>
        <th>Kişi</th>
        <th>Detay</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td> @x.TblMisafir.AdSoyad</td>
            <td> @x.GirisTarih </td>
            <td> @x.CikisTarih </td>
            <td> @x.KisiSayisi </td>
            <td> <a href="#" class="btn btn-primary">Detaylar</a> </td>
        </tr>
    }
</table>


