@model OtelMVCProje.Models.Entity.TblMesajAdmin
@{
    ViewBag.Title = "YeniMesaj";
    Layout = "~/Views/Shared/_MisafirLayout.cshtml";
}
<br/>
<h2>Yeni Mesaj</h2>

<form method="post">
    <label>Konu </label>
    @Html.TextBoxFor(x => x.Konu, new { @class = "form-control" })

    <label>Mesajınız </label>
    @Html.TextAreaFor(x => x.Mesaj,10,4 ,new { @class = "form-control" })
    <br/>
    <button class="btn btn-warning">Gönder</button>
    
</form>